/* Show it is fixed to the top */
main .container {
	padding-top: 93px;
}

input[type=text],input[type=number],select{
	width: 100%;
}

.is_changed {
	border-color:red;
}

.nav-tabs .nav-link{
	border-color: #FFC107 #FFC107 #ffffff #FFC107;
	/* border-color: #FFC107; */
	color: #495057;
	background-color: #EBEBE4;
}
